<form method="post"
      action="{{ path('app_user_delete', {'id': user.id}) }}"
      onsubmit="return confirm('Êtes vous sûr de vouloir supprimer votre compte ?');"
      class="bg-red-300 text-gray-700 py-2 px-4 rounded-xl font-semibold hover:bg-rose-400 transition">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ user.id) }}">
    <button>Supprimer mon compte</button>
</form>
