{{ form_start(form) }}
    {{ form_widget(form) }}
<button class="ml-auto block mt-6 bg-red-300 text-gray-700 py-2 px-4 rounded-xl font-semibold hover:bg-rose-400 transition">{{ button_label|default('Enregistrer') }}</button>
{{ form_end(form) }}
