<nav class="bg-blue-500 text-white shadow-md pb-2">
    <div class="container mx-auto px-4">
        <div class="flex justify-between items-center py-4">
            <a href="/" class="text-xl font-bold flex items-center">
                Shape of you
            </a>

            <div class="hidden md:flex space-x-6">
                <a href="/" class="hover:text-gray-200">Accueil</a>
                <a href="/" class="hover:text-gray-200">Connexion</a>
                <a href="/" class="hover:text-gray-200">Inscription</a>
                <a href="/" class="hover:text-gray-200">Contact</a>
            </div>

            <button id="menu-toggle" class="block md:hidden focus:outline-none">
                <span class="material-icons text-black text-xl">menu</i></span>
            </button>
        </div>

        <div id="mobile-menu" class="hidden md:hidden">
            <a href="/" class="block px-4 py-2 hover:bg-blue-500">Accueil</a>
            <a href="/" class="block px-4 py-2 hover:bg-blue-500">Connexion</a>
            <a href="/" class="block px-4 py-2 hover:bg-blue-500">Inscrisption</a>
            <a href="/" class="block px-4 py-2 hover:bg-blue-500">Contact</a>
        </div>
    </div>
</nav>
