{% apply inline_css %}
<!DOCTYPE html>
    <html lang="">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap" rel="stylesheet">
        <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
        <meta name="x-apple-disable-message-reformatting"/>
        <title></title>
    </head>
        <body style="font-family: Arial, sans-serif;">
        <div class="max-w-xl pt-5 pb-12 mx-auto">
            <h1>Welcome {{ email.toName }}</h1>

            <section>
                <a href="{{ url('app_login') }}">
                    Login to Shape of You
                </a>
            </section>

            <p>
                This link and code will only be valid for the next 5 minutes. If you didn't request this email, you can
                ignore this message.
            </p>

            <p>
                Best,
                <br/>— The Shape of You team
            </p>
        </div>
    </body>
</html>
{% endapply %}
