<!doctype html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" type="image/png" href="/img/icons/logo.png">
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}
    </head>
    <body class="bg-light">
    {% block navbar %}
        {% include 'parts/_navbar.html.twig' %}
    {% endblock %}

    <main class="">
        {% block body %}{% endblock %}
    </main>

    {% block footer %}
        {% include 'parts/_footer.html.twig' %}
    {% endblock %}
    </body>
</html>
