{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block body %}
    <div class="min-h-screen flex items-center justify-center">
        <div class="w-full max-w-md bg-white p-8 rounded-xl shadow-lg">
            <h2 class="text-2xl font-semibold text-center text-gray-700">Réinitialisation de mot de passe</h2>
            <form method="post" class="mt-6">
                {% if error %}
                    <div class="bg-red-400 text-white rounded-lg mb-4 p-2 font-medium text-center">
                        {{ error.messageKey|trans(error.messageData, 'security') }}
                        Please try again.
                    </div>
                {% endif %}

                <div class="mb-4">
                    <label for="password" class="block text-sm font-medium text-gray-700">Mot de passe</label>
                    <input type="password" id="password" name="password" required
                           class="w-full mt-1 px-4 py-2 border rounded-lg focus:ring focus:ring-rose-300 focus:outline-none"/>
                </div>
                <div class="mb-4">
                    <label for="passwordConfirm" class="block text-sm font-medium text-gray-700">Confirmer mot de passe</label>
                    <input type="password" id="passwordConfirm" name="passwordConfirm"  required
                           class="w-full mt-1 px-4 py-2 border rounded-lg focus:ring focus:ring-rose-300 focus:outline-none"/>
                </div>
                <button type="submit" class="w-full bg-rose-400 text-white mt-4 py-2 px-4 rounded-lg hover:bg-rose-500 transition">
                    Mettre à jour le mot de passe
                </button>
                <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

            </form>
        </div>
    </div>
{% endblock %}
