name: "CI"

on:
  pull_request:
    branches: [ develop, main ]
    types: [
      opened,
      synchronize,
      reopened,
    ]
  push:
    branches: [ "*" ]

jobs:
  deps:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup PHP with tools
        uses: shivammathur/setup-php@v2
        with:
          php-version: "8.2"
          tools: composer

      - name: Cache vendor
        uses: actions/cache@v4
        with:
          path: vendor
          key: composer-${{ hashFiles('**/composer.lock') }}

      - name: Install Dependencies
        id: install
        run: composer install --prefer-dist --no-interaction --no-progress

  php-cs-fixer:
    name: PHP-CS-Fixer
    needs: [ "deps" ]
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Restore Cache
        uses: actions/cache@v4
        with:
          path: vendor
          key: composer-${{ hashFiles('**/composer.lock') }}

      - name: Run PHP-CS-Fixer
        uses: docker://oskarstark/php-cs-fixer-ga
        with:
          args: --diff --dry-run

#  static-analysis:
#    name: PHPStan
#    needs: [ "deps" ]
#    runs-on: ubuntu-latest
#
#    steps:
#      - name: Checkout repository
#        uses: actions/checkout@v4
#
#      - name: Restore Cache
#        uses: actions/cache@v4
#        with:
#          path: vendor
#          key: composer-${{ hashFiles('**/composer.lock') }}
#
#      - name: Run PHPStan
#        uses: php-actions/phpstan@v3
#        continue-on-error: true
#        with:
#          path: src/
#          php_version: 8.3
#          level: 9